body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#globalWrap {
    width: 1300px;
    height: 625px;
}

#paneSelect {
    height: 100%;
    width: 150px;
    float: left;
}

#paneSelect .banner {
}

#paneWrap {
    width: 906px;
    height: 100%;
    float: left;
}


#welc {
    height: 800px;
}

.meta-info,
.extra {
    color: #828282;
}

/*********************** Global Styles ***********************/

.board {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 1.15em;
}

.layoutPane {
    display: inline-block;
    float: left;
}

.halfPane {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
}

.quartPane {
    display: inline-block;
    width: 25%;
    height: inherit;
    float: left;
}

.threeQPane {
    width: 57%;
}

.banner {
    height: 55px;
    border-bottom: 2px solid #BBBBBB;
    border-right: 2px solid #BBBBBB;
    border-radius: 2px;
    margin-bottom: 15px;
}

.banner h2 {
    margin-left: 15px;
    padding-top: 15px; 
}

.banner h1, h2 {
    margin-top: 0px;
}

div.sub-banner {
    margin-left: 15px;
}



/*********************** Pane Styles ***********************/


.pane.ng-animate {
    transition:300ms linear all;
}

.pane.ng-leave.ng-leave-active,
.pane.ng-leave {
    display: None;
}

.pane.ng-enter {
    opacity:0;
}

.pane.ng-enter.ng-enter-active {
    opacity:1;
}


/*********************** Pane Select Styles ***********************/

#paneSelect {
    position: relative;
}

#paneSelect .banner .words {
    font-weight: bold;
    font-size: 1.75em;
    margin: 0 0 0 15px;
    padding-top: 10px;
    text-transform: capitalize;
}

#paneSelect div.pane-btn-container {
    margin-left: 10px;
}

#paneSelect .pane-btn img {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}


#paneSelect .pane-btn img,
#paneSelect .pane-btn h4 {
    transition: all 200ms ease-out;
}


div.pane-btn-wrap {
    position: relative;
}

#paneSelect .pane-btn-wrap a:hover > img,
#paneSelect .pane-btn-wrap.active a img
{
    margin-left: 11px;
}

#paneSelect .pane-btn-wrap a:hover > h4,
#paneSelect .pane-btn-wrap.active h4
{
    color: #444444;
}

#paneSelect h4 {
    position: absolute;
    left: 58px;
    top: -7px;
    text-transform: capitalize;
    display: inline-block;
    color: #DDDDDD;
}

div.meta {
    position: absolute;
    bottom: 0;
    margin-left: 12px;
}

/********************** Modals ********************/

div.modal-background {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.25;
    position: fixed !important;
    top: 0px;
    left: 0px;
    content: "";
}

div.modal-content {
    height: 200px;
    width: 400px;
    top: 180px;
    left: 300px;
    padding: 50px;
    position: fixed !important;
    border-radius: 4px;
    padding: 45px;
}

div.modal-content div.notif {
    margin-top: 15px;
    padding: 10px;
    border-radius: 4px;
    word-wrap: break-word;
}

/******************* Button Styles *******************/
.btn {
    border-radius: 7px;
    border-width: 0;
    margin: 15px auto;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 130px;
    height: 38px;
    background: #AAA;
    display: block;
}

.btn:disabled {
    opacity: 0.1;
}

.btn:hover {
    text-decoration: none;
    background: #787878
}

.btn.active {
    background: #787878
}

.btn.green {
    background: #44D072;
}

.btn.green:hover {
    background: #339c56;
}

.btn.blue {
    background: #68A8DC;
}

.btn.blue:hover {
    background: #4E7EA5;
}

/******************* Background Colors *****************/
.red {
    background: #f2dede;
}

.green {
    background: #dff0d8;
}

.blue {
    background: #d9edf7;
}

/***************** Scrollbars ****************/
::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
