body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#globalWrap {
    margin: 20px;
    width: 1300px;
    height: 625px;
}

#paneSelect {
    padding-top: 10px;
    height: 100%;
    width: 150px;
    float: left;
}

#paneWrap {
    width: 906px;
    height: 100%;
    float: left;
}


#welc {
    height: 800px;
}

.meta-info {
    color: #828282;
}

/*********************** Global Styles ***********************/

.board {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 1.15em;
}

.halfPane {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
}

.quartPane {
    display: inline-block;
    width: 25%;
    height: inherit;
    float: left;
}

/*********************** Pane Styles ***********************/

.pane {
}

.pane.ng-animate {
    transition:300ms linear all;
}

.pane.ng-leave.ng-leave-active,
.pane.ng-leave {
    display: None;
}

.pane.ng-enter {
    opacity:0;
}

.pane.ng-enter.ng-enter-active {
    opacity:1;
}


/*********************** Pane Select Styles ***********************/

#paneSelect .pane-btn img {
    width: 55px;
    height: auto;
    margin-bottom: 20px;
}


#paneSelect .pane-btn img,
#paneSelect .pane-btn h4 {
    transition: all 200ms ease-out;
}


div.pane-btn-wrap {
    position: relative;
}

#paneSelect .pane-btn-wrap a:hover > img,
#paneSelect .pane-btn-wrap.active a img
{
    margin-left: 15px;
}

#paneSelect .pane-btn-wrap a:hover > h4,
#paneSelect .pane-btn-wrap.active h4
{
    color: #444444;
}

#paneSelect h4 {
    position: absolute;
    left: 80px;
    text-decoration: underline;
    text-transform: capitalize;
    display: inline-block;
    color: #DDDDDD;
}

/***************** Scrollbars ****************/
::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
