#sendPane {
    position: relative;
}

#sendPane #sendBox {
    width: 300px;
    margin-left: 20px;
}

#sendPane textarea {
    resize: none;
}

#sendPane input.board {
    width: 90%;
    height: 25px;
}

#sendPane textarea.content {
    width: 90%;
    height: 200px;
}

button#sendBtn {
    width: 100px;
    height: 20px;
}
