#sendPane {
    position: relative;
}

#sendPane .sub-banner {
    margin-right: 15px;
    height: 568px;
}

#sendPane .bltnPreview {
    height: 550px;
    overflow-y: scroll;
    padding: 1px;
}

#sendPane #sendBox {
    width: 300px;
    margin-left: 20px;
}

#sendPane textarea {
    resize: none;
}

#sendPane input.board {
    width: 100%;
    height: 25px;
}

#sendPane textarea.content {
    width: 100%;
    height: 400px;
    font-size: 1em;
}

