#sendPane {
    position: relative;
}

#sendPane .sub-banner {
    margin-right: 15px
}

#sendPane #sendBox {
    width: 300px;
    margin-left: 20px;
}

#sendPane textarea {
    resize: none;
}

#sendPane input.board {
    width: 100%;
    height: 25px;
    padding-left: 6px;
}

#sendPane textarea.content {
    width: 100%;
    height: 400px;
    font-size: 1em;
    padding: 6px;
}

