div.setup {
    position: relative;
}

/***** Disables the functions on the left.... */
div.setup #hider {
    position: absolute;
    left: -150px;
    top: 0;
    width: 150px;
    height: 625px;
    background: #000;
    opacity: 0.75;
}

div.setup #firstWelc i {
   color: gray; 
}

div.setup label {
    display: block;
}
    
div.setup table {
    border-bottom: 1px solid #ddd;
}

div.setup .btn {
    display: block;
}

div.setup h1.wait {
    text-align: center;
}

