/***************** Wallet Widget Styles ******************/

.bal {
    font-size: 1.4em;
}

.bal small {
    color: #95a5a6;
}

.wallet-widget .bal.pend {
    margin-bottom: 20px;
}

.wallet-widget .addressWrap {
    background-color: #EEEEEE;
    position: relative;
    padding: 10px 5px;
    width: 190px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wallet-widget .addressBox {
    width: 148px;
    margin: 0 0 0 28px;
}

.wallet-widget .address {
    font-family: monospace;
    word-break: break-all;
    text-decoration: None;
}

.wallet-widget .addressWrap svg {
    position: absolute;
    top: 18px;
    left: 10px;
}

.wallet-widget .qrcode {
    margin: 15px auto;
    display: block
}

.biggerWrap {
    border: 2px solid #EEEEEE;
    border-radius: 13px;
    display: inline-block;
    margin-top: 15px;
}

