<div id="sendPane">
    <div class="quartPane">
        <div class="banner">
            <h2>Balance</h2>
        </div>
        <div class="sub-banner">
            <h3>Cost Estimate</h3> 
            <coin-amnt amount="state.estimate.val" unit="wallet.unit"></coin-amnt>
            <wallet-widget info="wallet"></wallet-widget>
        </div>
    </div>
    <div class="quartPane">
        <div class="banner">
            <h2>Controls</h2>
        </div>
        <button id="sendBtn" name="send" class="btn green" ng-click="showSendModal()">
            Send
        </button>
        <button id="tweetBtn" name="tweet" class="btn blue" ng-click="notImpl()">
            Tweet
        </button>
        <button id="renderBtn" name="render" class="btn" ng-class="{'active': state.renderTog}" ng-click="toggleRender()">
            Render
        </button>
        <button id="composeBtn" name="compose" class="btn" ng-click="showComposeModal()">
            Compose
        </button>
    </div>

    <div class="halfPane">
        <div>
            <div class="banner">
                <h2 ng-hide="state.renderTog">Draft Bulletin</h2>
                <h2 ng-show="state.renderTog">Preview Bulletin</h2>
            </div>
            <div class="sub-banner">
                <div class="contentAdd" ng-hide="state.renderTog">
                    <h3>Board</h3>
                    <input 
                    type="text" 
                    class="board" 
                    ng-model="draftBltn.board"
                    maxlength="30"
                    ng-change="updateEst(state.estimate)"
                    >
                    </input>
                    <h3>Content</h3>
                    <textarea class="content" ng-model="draftBltn.msg" ng-change="updateEst(state.estimate)"></textarea>
                </div>
                <div class="bltnPreview" ng-show="state.renderTog">
                    <div bltn="state.testBltn" author="true" class="testBulletin"></div>
                </div>
            </div>
        </div>
    </div>
</div>
