<div class="modal-background">
</div>
<div class="modal-content card"> 
    <label>Enter wallet passphrase:<input type="password" ng-model="passphrase" /></label>
    <div ng-show="showTextModal" class="notif" ng-class="status" ng-bind="modalMsg"></div>
    <div ng-show="showLinkModal" class="notif link" ng-class="status">
        <a ng-href="{{ link.href }}">{{ link.text }}</a>
    </div>

    <button class="btn green" ng-disabled="!actionEnabled" ng-click="actionEnabled && actionHandle(passphrase)"> 
        {{ action }}
    </button>
    <button class="btn gray" ng-click="closeModal()">
        Close
    </button>
</div>
