<div class="halfPane">
    <div class="banner">
        <h2>System</h2>
    </div>
    <div class="sub-banner">

        <div class="browseBox">
            <p>Always Render Markdown:<input type="checkbox" label="" checked="false" ng-model="settings.renderMd" /></p>
            <p>Display Tooltips:<input type="checkbox" ng-click="notImpl()"/></p>
        </div>

        <div class="torBox">
            <h3>Tor Settings</h3>
            <p><label>Onion Proxy:<input type="text" name="onion_proxy"/></label></p>
            <p><label>Proxy User:<input type="text" name="onion_user"/></label></p>
            <p><label>Proxy Password:<input type="password" name="onion_pass"/></label></p>
        </div>

        <div class="sendSettings">
            <button ng-click="notImpl()">Connect Twitter Account</button>
            <button ng-click="notImpl()">Request Coin</button>
        </div>
    </div>
</div>
<div class="halfPane">
    <div class="banner">
        <h2>Warnings</h2>
    </div>
    <div class="sub-banner">
        <p> Do not use this if you are:</p>
        <ol>
            <li>A robot
            <li>Worried about your future
            <li>Have viruses
            <li>Live in China
        </ol>

        <a href="" ng-click="acknow = !acknow">Acknowledgements</a>
        <p ng-show="acknow">
            Thank you to my friends and family for supporting me as I built this.
            Special thanks go out to Obama, God, Larry Mueller, The Virginia Gentlemen, The
            Hullabahoos, Britain's Got Talent, Mother, Father, pop, momma and grandad. All of
            these people and institutions motivated me to question institutional authority.
        <p>
    </div>
</div>
