<div id="WalletPane">
    <div class="quartPane">
        <div class="banner">
            <h2>Balance</h2>
        </div>
        <div class="sub-banner">
            <wallet-widget info="wallet"></wallet-widget>
        </div>
        <button id="sendBtcBtn" class="btn" ng-click="notImpl()">
            Send BTC
        </button>
    </div>
    <div class="threeQPane">
        <div class="banner">
            <h2>Recent Transactions
                <select id=selType name="listView" ng-model="filtOption" ng-change="filterFunc()">
                    <option value="all">All</option>
                    <option value="confirmed">Confirmed</option>
                    <option value="pending">Pending</option>
                </select>
            </h2>
        </div>
        <div class="sub-banner">
                <table class="table-header"> 
                    <thead>
                        <tr>
                            <th id=a>Type</th>
                            <th id=b>Transaction Id</th>
                            <th id=c>Amount</th>
                            <th id=d>Confirmations</th>
                            <th id=e>Time Received</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    
                </table>
                <div class=wallet-tx-list>
                    <table>
                        <tbody>
                            <tr class="tx-row" ng-repeat="tx in transactions | orderBy:'-timereceived'" tx="tx"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
