<div class="boardDisplay">
    <div class="boardline card">
        <div class="topline">
            <div class="name board" ng-if="board.summary.name !== ''">{{ board.summary.name }}</div> 
            <div class="name board nil" ng-if="board.summary.name === ''">The Nil Board</div> 
            <img class="setting" src="/static/images/totalconf.png" ng-click="reply()" />
            <img class="favorite" 
            ng-class="{'active': board.favorite}" 
                ng-click="handleFavorite(board)" 
            />
        </div>
    
        <div class="meta">
            {{ board.summary.numBltns | plural:"Bulletins" }}
            <div class="mine">
                First bulletin mined at {{ board.summary.createdAt | nicedatetime }}
            </div>
        </div>
    </div>

    <div ng-repeat="bltn in board.bltns | orderBy:'timestamp' track by bltn.txid" class="pinBulletin"></div>
</div>
