<div id="browsePane" ng-controller="boardCtrl">
    <div id="browseWrap">
        <div class="control-widget card">
            <div class="top line">
                <div class="label">Boards</div>
                <div class="btn"><small>Authors</small> | <small>Favorites</small></div>
            </div>
            <div class="bottom line">
                <div class="meta-info">67 of 67</div> 
            </div>
        </div>
        <div id="listView">
            <div class="browseBoard" ng-repeat="board in boards | orderBy:'-lastActive'">
            </div>
        </div>
    </div>
    <div id="contentPane" class="halfPane">
        <div class="boardDisplay">
            <div ng-repeat="bltn in activeBoard.bltns | orderBy:'timestamp' track by bltn.txid" class="pinBulletin"></div>
        </div>
    </div>
</div>
