<div class="pinnedBulletin card" ng-class="{ 'detail': bltn.detail, 'linked' : bltn.linked }">
    <div class="topline">
        <div ng-if="inBoard" class="authorbox">
            <author-icon addr="bltn.author"></author-icon>
                        <div class="text">
                From 
                <div class="author">
                    <a href="/#/b/author/{{ bltn.author }}">{{ bltn.author | limitTo:10 }}</a>
                </div>
            </div>
        </div> 
        <div ng-if="inAuthor" class="boardBox">
            In <a ng-if="bltn.boardUrl != ''" href="/#/b/board/{{ bltn.board }}">{{ bltn.board | limitTo:15 }}</a>
            <a class="nil" ng-if="bltn.boardUrl == ''" href="/#/b/nilboard">The Nil Board</a>
        </div>

        <div class="timestamp">{{ bltn.timestamp | nicedatetime  }}</div>
        <div class="interact">
            <input type="checkbox" ng-model="bltn.renderMd" ng-click="renderMd(bltn)" />
            <img class="confs" ng-src="{{ depthImg(bltn) }}" ng-click="moreDetail(bltn)" />
        </div>
    </div>
    <div class="norm-wrap" ng-hide="bltn.detail">
        <div class="msg" ng-hide="bltn.renderMd">
            {{ bltn.msg }} 
        </div>
        <div class="markdown" ng-hide="!bltn.renderMd" ng-bind-html="bltn.markdown" >
        </div>
    </div>

    <div class="detail" ng-show="bltn.detail">
        <table class="">
            <tr><td>Author:</td><td><a href="/#/b/author/{{ bltn.author }}">{{ bltn.author }}</a></td></tr>
            <tr><td>Tx Timestamp:</td><td>{{ bltn.timestamp }}</td></tr>
            <tr><td>Block Timestamp:</td><td>{{ bltn.blkTimestamp }}</td></tr>
            <tr><td>Tx Hash:</td><td class="tiny"><a ng-click="bltn.linked = true" href="/#/b/bltn/{{ bltn.txid }}">{{ bltn.txid }}</a></td></tr>
            <tr><td>Block Hash:</td><td class="tiny">{{ bltn.blk }}</td></tr>
        </table>
    </div>
</div>
